<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>shiftItshowMenu</key>
	<true/>

        <!-- Quarters -->
	<key>blKeyCode</key>
	<integer>83</integer>
	<key>blModifiers</key>
	<integer>1572864</integer>
	<key>brKeyCode</key>
	<integer>85</integer>
	<key>brModifiers</key>
	<integer>1572864</integer>
	<key>tlKeyCode</key>
	<integer>89</integer>
	<key>tlModifiers</key>
	<integer>1572864</integer>
	<key>trKeyCode</key>
	<integer>92</integer>
	<key>trModifiers</key>
	<integer>1572864</integer>

        <!-- Center, fullscreen -->
	<key>centerKeyCode</key>
	<integer>87</integer>
	<key>centerModifiers</key>
	<integer>1572864</integer>
	<key>fullscreenKeyCode</key>
	<integer>82</integer>
	<key>fullscreenModifiers</key>
	<integer>1572864</integer>

        <!-- Left, right, top, bottom halves  -->
	<key>leftKeyCode</key>
	<integer>86</integer>
	<key>leftModifiers</key>
	<integer>1572864</integer>
	<key>rightKeyCode</key>
	<integer>88</integer>
	<key>rightModifiers</key>
	<integer>1572864</integer>
	<key>topKeyCode</key>
	<integer>91</integer>
	<key>topModifiers</key>
	<integer>1572864</integer>
	<key>bottomKeyCode</key>
	<integer>84</integer>
	<key>bottomModifiers</key>
	<integer>1572864</integer>

        <!-- Segmented jumps -->
	<key>jdownKeyCode</key>
	<integer>125</integer>
	<key>jdownModifiers</key>
	<integer>10223616</integer>
	<key>jleftKeyCode</key>
	<integer>123</integer>
	<key>jleftModifiers</key>
	<integer>10223616</integer>
	<key>jrightKeyCode</key>
	<integer>124</integer>
	<key>jrightModifiers</key>
	<integer>10223616</integer>
	<key>jupKeyCode</key>
	<integer>126</integer>
	<key>jupModifiers</key>
	<integer>10223616</integer>

        <!-- Segmented sizes -->
	<key>sdownKeyCode</key>
	<integer>125</integer>
	<key>sdownModifiers</key>
	<integer>10092544</integer>
	<key>sleftKeyCode</key>
	<integer>123</integer>
	<key>sleftModifiers</key>
	<integer>10092544</integer>
	<key>srightKeyCode</key>
	<integer>124</integer>
	<key>srightModifiers</key>
	<integer>10092544</integer>
	<key>supKeyCode</key>
	<integer>126</integer>
	<key>supModifiers</key>
	<integer>10092544</integer>
</dict>
</plist>
